.alert {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    z-index: 1002;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding: .21rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: .4rem;
    background-color: var(--overlay-2);
    box-shadow: 0 1rem 1rem var(--box-shadow);

    animation: slide-in 0.3s ease-out forwards; /* Entry animation */
}

.alert.slide-out {
    animation: slide-out 0.3s ease-in forwards; /* Exit animation */
}

.message {
    flex: 1;
    color: var(--text-000);
}

.close_button {
    color: var(--link-100);
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(100%);
    }
}

