.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}
  
.pagination li {
    margin: 0 .1rem;
}
  
.pagination a {
    border-radius: 10rem;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
}
  
.pagination a:hover {
    background-color: var(--secondary-100);
}
  
.active a {
    /* background-color: var(--link-100); */
    border: .1rem solid var(--link-100);
    color: var(--link-100);
}

.prev_next_btn {
    padding: 1rem;
}