.input_container {
    margin: 1rem 0;
    position: relative;
}
  
.input_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(primary-100);
}

.input_wrapper.focused .label,
.input_wrapper.focused .input {
    color: var(--base-blue);
}

.label {
    position: absolute;
    top: 50%;
    left: .86rem;
    transform: translateY(-50%);
    color: var(--text-400);
    transition: all 0.2s ease;
    pointer-events: none;
}

.input {
    width: 100%;
    padding: 1rem .86rem;
    border: .162rem solid #ccc;
    border-radius: .3rem;
    background: transparent;
    transition: border 0.2s ease, background-color 0.2s ease;
}

.input:focus {
    outline: none;
    border-color: var(--base-blue);
}

.input_wrapper.focused .label,
.input_wrapper .input:not(:placeholder-shown) + .label {
    top: 0;
    font-size: .86rem;
    color: var(--base-blue);
    background-color: var(--primary-000);
    padding: 0 .23rem;
}

.input_wrapper:not(.focused) .input:not(:placeholder-shown) + .label {
    color: var(--text-400);
}

.filled .input {
    background-color: #f0f0f0;
}

.error_input {
    border-color: var(--danger-300);
}

.helper_text,
  .error_text {
    font-size: .86rem;
    margin-top: .23rem;
}

.helper_text {
    color: var(--text-400);
}

.error_text {
    color: var(--danger-300);
}
  