
/* Not found page */

.not_found {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.not_found_description {
    text-align: center;
}

.not_found_description :first-child {
    font-size: 1.1rem;
    font-weight: 500;
}

.not_found_description :last-child {
    font-size: smaller;
}

/* Loading */
.container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 1.5rem;
    height: 100svh; 
    background-color: var(--background);
    color: var(--text-color);
}

.topBar {
    height: 3.125rem;
    margin: 1rem;
    border-radius: 6.25rem;
    background-color: var(--topbar-background);
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    margin: 0 1rem 1rem 1rem;
}

.listItem {
    padding: 2rem;
    border-radius: 0.625rem; 
    background-color: var(--skeleton-bg);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.listTitle {
    height: 1.25rem;
    width: 70%;
    background-color: var(--skeleton-foreground);
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}

.listSubtitle {
    height: 0.9375rem;
    width: 50%; 
    background-color: var(--skeleton-foreground);
    border-radius: 0.25rem;
}

.navbar {
    height: 3.75rem; 
    background-color: var(--navbar-background);
    box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}
