
/* Not found page */

.not_found {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.not_found_description {
    text-align: center;
}

.not_found_description :first-child {
    font-size: 1.1rem;
    font-weight: 500;
}

.not_found_description :last-child {
    font-size: smaller;
}

/* Loading */
.container {
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    height: 100% !important;
}

.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1.5625rem 0 0 -1.5625rem;
    width: 3.125rem;
    height: 3.125rem;
}
  
.spinner .path {
    stroke:  var(--link-300);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}
  
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
  
@keyframes dash {
    0% {
        stroke-dasharray: 1, 9.375rem;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 5.625rem, 9.375rem;
        stroke-dashoffset: -2.1875rem;
    }
    100% {
        stroke-dasharray: 5.625rem, 9.375rem;
        stroke-dashoffset: -7.75rem;
    }
}
  