
.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.actions_list {
    display: flex;
    flex-wrap: wrap;
    gap: .6rem;
    padding-bottom: 4rem;
}

.action_button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
}

.box {
    flex: 1 1 calc(30% - 1rem);
    max-width: 100% !important;
}

@media (max-width: 900px) {
    .box {
        flex: 1 1 calc(50% - 1rem); 
    }
}
  

@media (max-width: 600px) {
    .box {
        flex: 1 1 100%;
    }
}

@media (max-width: 1024px) {
    
    .action_button {
        bottom: 6rem;
        right: 1rem;
    }

}